name: C++ CI

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

permissions:
  contents: read
  issues: read
  checks: write
  pull-requests: write

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=Release

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config Release

    - name: Run Tests
      working-directory: ${{github.workspace}}/build
      run: ./unit_tests --gtest_output="xml:test_results.xml"

    - name: Collect Coverage
      run: |
        sudo apt-get install -y lcov
        lcov --capture --directory . --output-file coverage.info --ignore-errors mismatch
        lcov --remove coverage.info '/usr/*' '*/_deps/*' '*/tests/*' --output-file coverage.info --ignore-errors mismatch
        lcov --list coverage.info --ignore-errors mismatch

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        files: coverage.info
        token: ${{ secrets.CODECOV_TOKEN }} # 建议去 codecov.io 关联仓库获取 token
        fail_ci_if_error: false

    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: always()
      with:
        files: "build/test_results.xml"
