name: Publish Release

on:
  push:
    tags:
      - "v*" # Triggers on tags like v1.0.0, v2.1.3

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create Release and Upload Asset
        uses: softprops/action-gh-release@v1
        with:
          files: include/BlockVector.hpp
          generate_release_notes: true
          draft: false
          prerelease: false
